<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aetion Measure Library</title>
    <meta name="description" content="The Best Library of Measures. Ever!">
    <link id="favicon" rel="icon" href="https://www.aetion.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Aetion Measure Library
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      
      <p>Tell me your hopes and dreams:</p>
      
      <form>
        <input name="measure" type="text" maxlength="100" placeholder="Cool Measure" aria-labelledby="submit-measure">
        <textarea name="rules" placeholder="Rules"></textarea>
        <button type="submit" id="submit-measure">Submit Measure</button>
      </form>

      <section class="list">
        <ul id="list">
         <!--  <li><a href="/detail">Detail Page</a></li>
          <li><a href="/measures">Measures Page</a></li> -->
        </ul>
      </section>

      <br><br><br>

      <hr>
      
      <section class="measures">
        <ul id="measures"></ul>
      </section>
      
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
